p {
  overflow: hidden;
  max-width: 80ch;
}

body {
  background-color: #FAFAFA;
  color: black;
}

a {
  color: #5C6773;
  text-decoration: none;
    font-style: italic;
}

body {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  line-height: 1.2;
}

table#queue-table {
  border: 1px solid #D9D7CE;
  width: 100%;
  table-layout: fixed;
  font-size: 1.1em;
  background-color: #eeeeee;
  padding: 5px;
  text-align: left;
}

table#queue-table th {
  border: 10px solid black;
  background-color: black;
  color: white;
}

table#queue-table tr:nth-child(odd) {
  background-color: #e0e0e0;
}

table#queue-table tr.active-prs {
  background-color: #eeeeee;
}

table#queue-table tr.suspended-prs {
  background-color: #cccccc;
}

table#table-queue td {
  padding: 5px;
  overflow: hidden;
}

table#table-queue td.rank {
  width: 50px;
}

table#table-queue td.pr {
  width: auto;
  word-break: break-all;
}

table#table-queue td.author {
  width: 200px;
}

table#table-queue td.enqueue-ts {
  width: 250px;
}

table#table-queue td.status {
  width: 100px;
  font-weight: bold;
}

table#table-queue td.status.status-updating {
  color: #0eb200;
}

table#table-queue td.status.status-queued {
  color: #E7C547;
}

table#table-queue td.status.status-suspended {
  color: #d63900;
}


div#explanation {
  margin-top: 100px;
}
