p {
  overflow: hidden;
  max-width: 80ch;
}

body {
  background-color: #FAFAFA;
  color: black;

}

a {
  color: #5C6773;
  text-decoration: none;
    font-style: italic;
}

body {
  font-family:  ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 1.2;
}

table[class="queue_table"] {
  border: 1px solid #D9D7CE;
  width: 80ch;
  font-size: 1.1em;
  background-color: #eeeeee;
  padding: 5px;
  text-align: left;
}

table[class="queue_table"] th {
  border: 10px solid black;
  background-color: black;
  color: white;
}


table tr[class="tr_active_prs"] {
  background-color: #eeeeee;
}

table tr[class="tr_suspended_prs"] {
  background-color: #cccccc ;
}

table td[id="td_status_updating"] {
  color: #0eb200;
  font-weight: bold;
}

table td[class="td_status_queued"] {
  color: #E7C547;
  font-weight:bold;
}

table td[class="td_status_suspended"] {
  color: #d63900;
  font-weight:bold;
}

div[id="explanation"] {
  margin-top: 100px;
}
