<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/list.css">
    <title>Autoupdater Overview</title>
    <h1>Autoupdater Overview</h1>
  </head>

  <body>
    <section>
      <div id="configuration">
        <header>
          <h2>Configuration</h2>
            <ul>
              <li>
                Enqueue on Automerge: {{ if .TriggerOnAutomerge }}enabled{{ else }}disabled{{ end}}
              </li>
              <li>
                Enqueue on PR Labels:
                {{ if .TriggerLabels }}
                <ul>
                  {{ range .TriggerLabels }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}
                </ul>
              </li>
              {{ else }}
                disabled
              {{ end }}
              <li>
                Monitored Repositories:
                <ul>
                  {{ range .MonitoredRepositories }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}
                </ul>
                <li>
                  Processed Events: {{ .ProcessedEvents }}
                </li>
                <li>
                  Periodic check interval of first active PRs: {{ .PeriodicTriggerInterval }}
                </li>
              </li>
            </ul>
        </header>
      </div>
    </section>

    <header>
      <h2>Queues</h3>
    </header>
    <div>
      {{ if not .Queues }}
        <section>
          No Pull-Requests enqueued.
        </section>
      {{ end }}
      {{ range $queue := .Queues }}
        <section>
          <header>
            <h3>Repository: {{ $queue.RepositoryOwner }}/{{ $queue.Repository }}, Base Branch: {{ $queue.BaseBranch }}</h2>
          </header>

          {{ if or $queue.ActivePRs $queue.SuspendedPRs }}
            <table id="queue-table">
              <tr>
                <th class="rank">Rank</th>
                <th class="pr">Pull Request</th>
                <th class="author">Author</th>
                <th class="enqueue-ts">Ready for Updates Since</th>
                <th class="status">Status</th>
              </tr>
              {{ range $i, $pr := $queue.ActivePRs }}
                <tr class="active-prs">
                  <td class="rank">{{ add $i 1 }}</td>
                  <td class="pr">
                    <a href="{{ $pr.Link }} ">{{ $pr.Title }} (#{{ $pr.Number }})</a>
                  </td>
                  <td class="author">{{ $pr.Author}}</td>
                  <td class="enqueue-ts">{{ $pr.EnqueuedSince.Format "2006-01-02 15:04:05 MST" }}</td>
                  <td class="status {{ if eq $i 0 }}status-updating{{ else }}status-queued{{ end }}">
                    {{ if eq $i 0 }}Updating{{ else }}Queued{{ end }}
                  </td>
                </tr>
              {{ end }}
              {{ range $i, $pr := $queue.SuspendedPRs }}
                <tr class="suspended-prs">
                  <td class="rank"></td>
                  <td class="pr">
                    <a href="{{ $pr.Link }} ">{{ $pr.Title }} (#{{ $pr.Number }})</a>
                  </td>
                  <td class="author">{{ $pr.Author}}</td>
                  <td class="enqueue-ts"></td>
                  <td class="status status-suspended">Suspended</td>
                </tr>
              {{ end }}
            </table>
        </section>
        {{ else }}
          <section>
            Base branch queue is empty.
          </section>
        {{ end }}
      {{ end }}
    </div>

    <div id="explanation">
      <section>
        <header>
          <h2>Help! How does it work?</h2>
        </header>

        <p>
          The autoupdater keeps pull requests up to date with their base branch.
        </p>

        <p>
          A pull request is enqueued for autoupdates when auto_merge for the PR
          is enabled or it is marked with a configurable label.<br>
          The first pull request in each queue has the active status and is kept
          up to date with its base-branch.
          If the base branch changes, the base branch is merged into the pull
          request branch.<br>
          Other pull requests are enqueued for being kept uptodate.
        </p>

        <p>
          If a base-branch can not be merged into a pull request branch, a
          negative status check for a PR was reported, it is not approved or it
          became stale, updates for the PR are suspended.<br>
          When the branch of the pull request or its base branch changes or its
          combined check status is not negative anymore it is enqueued again for
          being kept up to date.
        </p>
      </section>
    </div>
  </body>

  <footer>
    <hr>
    <small>
      <p>
      Page generated at: {{ .CreatedAt.Format "2006-01-02 15:04:05 MST" }}</td><br>
      </p>

      <p>
      <a href="https://github.com/simplesurance/goordinator/">https://github.com/simplesurance/goordinator/<a>
      </p>
    </small>
  </footer>
</html>
