<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/list.css">
    <title>Autoupdater Overview</title>
    <h1>Autoupdater Overview</h1>
  </head>

  <body>
    <section>
      <div id="configuration">
        <header>
          <h2>Configuration</h2>
            <ul>
              <li>
                Enqueue on Automerge: {{ if .TriggerOnAutomerge }}enabled{{ else }}disabled{{ end}}
              </li>
              <li>
                Enqueue on PR Labels:
                {{ if .TriggerLabels }}
                <ul>
                  {{ range .TriggerLabels }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}
                </ul>
              </li>
              {{ else }}
                disabled
              {{ end }}
              <li>
                MonitoredRepositories:
                <ul>
                  {{ range .MonitoredRepositories }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}
                </ul>
                <li>
                  Processed Events: {{ .ProcessedEvents }}
                </li>
                <li>
                  Periodic check interval of first active PRs: {{ .PeriodicTriggerInterval }}
                </li>
              </li>
            </ul>
        </header>
      </div>
    </section>

    <header>
      <h2>Queues</h3>
    </header>
    <div id="queue_content">
      {{ if not .Queues }}
        <section>
          No Pull-Requests enqueued.
        </section>
      {{ end }}
      {{ range $queue := .Queues }}
        <section>
          <header>
            <h3>Repository {{ $queue.RepositoryOwner }}/{{ $queue.Repository }}, BaseBranch: {{ $queue.BaseBranch }}</h2>
          </header>

          {{ if or $queue.ActivePRs $queue.SuspendedPRs }}
            <table class="queue_table">
              <tr>
                <th>Rank</th>
                <th>Pull Request</th>
                <th>Author</th>
                <th>Ready for Updates Since</th>
                <th>Status</th>
              </tr>
                {{ range $i, $pr := $queue.ActivePRs }}
                  <tr class="tr_active_prs">
                  <td >{{ add $i 1 }}</td>
                  <td>
                    <a href="{{ $pr.Link }} ">{{ $pr.Title }} (#{{ $pr.Number }})</a>
                  </td>
                  <td>{{ $pr.Author}}</td>
                  <td>{{ $pr.EnqueuedSince.Format "2006-01-02 15:04:05 MST" }}</td>
                  {{ if eq $i 0 }}
                    <td id="td_status_updating">Updating</td>
                  {{ else }}
                    <td class="td_status_queued">Queued</td>
                  {{ end }}
                </tr>
              {{ end }}
              {{ range $i, $pr := $queue.SuspendedPRs }}
                <tr class="tr_suspended_prs">
                  <td></td>
                  <td>
                    <a href="{{ $pr.Link }} ">{{ $pr.Title }} (#{{ $pr.Number }})</a>
                  </td>
                  <td>{{ $pr.Author}}</td>
                  <td></td>
                  <td class="td_status_suspended">Suspended</td>
                </tr>
              {{ end }}
            </table>
        </section>
        {{ else }}
          <section>
            Base branch queue is empty.
          </section>
        {{ end }}
      {{ end }}
    </div>

    <div id="explanation">
      <section>
        <header>
          <h2>Help! How does it work?</h2>
        </header>

        <p>
          The autoupdater keeps pull requests uptodate with their base branch.
        </p>

        <p>
          A pull request is enqueued for autoupdates when auto_merge for the PR
          is enabled or it is marked with a configuration label.<br>
          The first active pull request in each queue is kept uptodate with its
          base-branch. If the base branch changes, the base branch is merged into
          the pull request branch.<br>
          Other pull requests are enqueued for being kept uptodate.
        </p>

        <p>
          If a base-branch can not be merged into a pull request branch, a
          negative status check for a PR was reported, it is not approved or it
          become stale, updates for the PR are suspended.<br>
          When the branch of the pull request or it base branch changes or its
          combined check status is not negative anymore it is enqueued again for
          being kept up to date.
        </p>
      </section>
    </div>
  </body>

  <footer>
    <hr>
    <small>
      <p>
      Page generated at: {{ .CreatedAt.Format "2006-01-02 15:04:05 MST" }}</td><br>
      </p>

      <p>
      <a href="https://github.com/simplesurance/goordinator/">https://github.com/simplesurance/goordinator/<a>
      </p>
    </small>
  </footer>
</html>
